<article class="case flex-container pad-tb">
  <div class="flex-item two-col">
    <h3>Dogs in your inbox</h3>
    <p>So you want to adopt a black labrador, now what? Chances are you will spend the next weeks if not months trying
      to eagerly refresh the listings of countless local and not so local animal shelters hoping to find the one, and
      then hoping that no one else will snatch them up before you. </p>
    <p>No more F5’s, no more calling around, no more forgetting to check a site only to realise the next day that
      you’ve just missed the perfect pooch.</p>
    <div class="inline">
      <a class="btn btn-light" href="{{ site.baseurl }}/case-studies/dog-alert.html" target="_self"
        aria-label="Read dogs in your inbox case study">Case study</a>
    </div>
  </div>
  <div class="flex-item two-col">
    <img src="assets/img/undraw_good_doggy_4wfq.svg" alt="">
  </div>
</article>

<article class="case flex-container pad-tb flex-reverse">
  <div class="flex-item two-col">
    <h3>Fighting banner blindness with native 'ads' for fostering</h3>
    <p>Curiously, at The Mayhew Animal Home, we've found that foster carer conversions were abysmal from the website.
    </p>
    <p>Was it the case that no one wanted to volunteer to temporarily open their homes to cuddly kittens or a
      friendly, old labrador or was it just banner blindness?</p>
    <div class="inline">
      <a class="btn btn-light" href="{{ site.baseurl }}/case-studies/native-ads.html" target="_self"
        aria-label="Read fighting banner blindness case study">Case study</a>
    </div>
  </div>
  <div class="flex-item two-col">
    <img src="assets/img/undraw_revenue_3osh.svg" alt="">
  </div>
</article>

<article class="case flex-container pad-tb--lg">
  <div class="flex-item two-col">
    <h3>Accessibility vs spam prevention</h3>
    <p>Did you know that reCAPTCHA is not as accessible as Google might want you to think?</p>
    <p>With approximately 4% of the population having moderate to severe vision impairment or being blind, an
      interesting UX question arises: what's worth more? Being completely accessible or protecting yourself from spam?
    </p>
    <div class="inline">
      <a class="btn btn-light" href="{{ site.baseurl }}/case-studies/a11y.html" target="_self"
        aria-label="Read accessible development case study">Case study</a>
    </div>
  </div>
  <div class="flex-item two-col">
    <img src="assets/img/undraw_pedestrian_crossing_l6jv.svg" alt="">
  </div>
</article>