<footer class="site-footer h-card">
  <data class="u-url" href="{{ " / " | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Get in touch</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <form action="https://formspree.io/bringaqueen@gmail.com" method="POST">
          <label for="name">name:</label>
          <input type="text" name="name" id="name">
          <label for="email">email:</label>
          <input type="email" name="_replyto" id="email">
          <label for="message">message:</label>
          <textarea name="message" rows="10" id="message"></textarea>
          <button type="submit">Send</button>
        </form>
        {%- include social.html -%}
      </div>
    </div>
    <h3>&#60;/k&#62;</h3>
  </div>
</footer>