<header class="relativity">
  <div class="stripes">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>
  <div class="wrapper">
    <div class="pad-tb">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <nav class="site-nav">
        <a class="site-title" rel="author" href="{{ site.url }}">&#60; k &#62;</a>
        <div class="site-links">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              {%- unless my_page.exclude -%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {%- endunless -%}
            {%- endif -%}
          {%- endfor -%}
          <a class="page-link" href="#contact">Contact</a>
          {% include social-links.html -%}
        </div>
      </nav>
    </div>
    {% if page.layout == 'home' %}
      <div class="pad-tb flex-container">
        <div class="flex-item two-col">
          <h1>Hi.<br>I'm a Front-End Developer</h1>
          <h2>and nuts about UX</h2>
          <p>After almost ten years in social and video marketing I ran screaming from what social media has become. Now, I use my skills mastered as a marketer to understand audiences and&nbsp;<strong>&nbsp;design and build human-centred experiences&nbsp;</strong>.
          </p>
        </div>
        <div class="flex-item two-col">
         <img src="assets/img/undraw_user_flow_vr6w.svg" alt="">
          </div>
      </div>
      {% else %}
      <div class="post-header wrapper pad-tb">
          <h1 class="post-title">{{ page.title | escape }}</h1>
      </div>
    {%- endif -%}
  </div>
</header>