<header>
  <div class="stripes">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>
  <div class="wrapper">
    <div class="pad-tb">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <nav class="site-nav">
        <a class="site-title" rel="author" href="{{ site.url }}">&#60; k &#62;</a>
        <div class="site-links">
          <a class="page-link" href="/about" class="btn-dark-text">About me</a>
          <div class="social-links">
            <a class="page-link" href="https://www.linkedin.com/in/nkriszti/" target="_blank" aria-label="linkedin profile" rel="noopener">
              <i class="fab fa-linkedin"></i>
            </a>
            <a class="page-link" href="https://github.com/krisztin" target="_blank" aria-label="github profile" rel="noopener">
              <i class="fab fa-github"></i>
            </a>
            <a class="page-link" href="https://codepen.io/krisztiiin/" target="_blank" aria-label="codepen profile" rel="noopener">
              <i class="fab fa-codepen"></i>
            </a>
          </div>
        </div>
      </nav>
    </div>
    {% if page.layout == 'home' %}
      <div class="pad-tb">
        <h1>Hi.<br>I'm Christina a Front-End <br> Developer</h1>
        <h2>with a love for UX</h2>
        <p></p>
      </div>
    {%- endif -%}
  </div>
</header>