<h1 class="home-head">&#60; Projects &#62;</h1>
<ul class="tech-list">
  <li>HTML</li>
  <li>CSS/SASS</li>
  <li>JavaScript/JSON&#38;JQuery</li>
  <li>PHP</li>
  <li>WordPress</li>
  <li>Drupal</li>
</ul>
<div class="flex-container projects">

  <article class="project-card">
    <a href="https://codepen.io/krisztiiin/full/wrVWZJ/" target="_blank">
      <h2>Twitch API</h2>
    </a>
    <p>Working with the Twitch API to build an app showing user statuses along with stream info.</p>
    <h4 class="tag">HTML</h4>
    <h4 class="tag">CSS</h4>
    <h4 class="tag">JavaScript \ JQuery \ JSON</h4>

  </article>
  <article class="project-card">
    <a href="https://codepen.io/krisztiiin/full/oGmqrp" target="_blank">
      <h2>Weather API</h2>
    </a>
    <p>Using HTML5 Geolocation and a simple weather database to show the current, local weather.</p>
    <div class="tags">
      <h4 class="tag">HTML</h4>
      <h4 class="tag">CSS</h4>
      <h4 class="tag">JavaScript \ JQuery \ JSON</h4>
    </div>
  </article>
  <article class="project-card">
    <a href="http://dev-appcharity.pantheonsite.io/" target="_blank">
      <h2>Mock-Charity Website</h2>
    </a>
    <p>Drupal Bootcamp Project site. The brief was for a blog written by web professionals for charities.</p>
    <div class="tags">
      <h4 class="tag">HTML</h4>
      <h4 class="tag">CSS</h4>
      <h4 class="tag">Drupal</h4>
  </article>
  <article class="project-card">
    <a href="https://krisztin.github.io/projects/js30/01drumkit/" target="_blank">
      <h2>Drumkit</h2>
    </a>
    <p>Vanilla JavaScript drumkit for your inner Ringo Starr.</p>
    <div class="tags">
      <h4 class="tag">JavaScript</h4>
    </div>
  </article>
  <article class="project-card">
    <a href="https://krisztin.github.io/projects/js30/02clock/" target="_blank">
      <h2>Clock</h2>
    </a>
    <p>Vanilla JS clock for those times when you just want to stare at a clock.</p>
    <div class="tags">
      <h4 class="tag">JavaScript</h4>
    </div>
  </article>
  <article class="project-card">
    <a href="https://krisztin.github.io/projects/js30/03cssVars/" target="_blank">
      <h2>CSS Variables</h2>
    </a>
    <p>An image manipulating site with CSS variables and JS</p>
    <div class="tags">
      <h4 class="tag">JavaScript</h4>
      <h4 class="tag">CSS</h4>
    </div>
  </article>
  <article class="project-card">
    <a href="https://krisztin.github.io/projects/js30/06ajaxCities/" target="_blank">
      <h2>Fetch API</h2>
    </a>
    <p>Using the Fetch API to get population data of US cities and/or states.</p>
    <div class="tags">
      <h4 class="tag">JavaScript</h4>
      <h4 class="tag">Fetch API</h4>
    </div>
  </article>
  </div>