<div class="posts">
    <h1 class="home-head">&#60; Posts &#62;</h1>
    <div class="indent">
    <h2>Q1 - This is fun!</h2>
    <p>Posts from the first three months of my apprenticeship. More of an entertainment I suppose than anything you can possibly learn from. I have the sneaking suspicion I will cringe hard once I look back on these in a few months.</p>
    {% for post in site.posts %}
    {% capture month %}{{post.date | date: "%-m"}}{% endcapture %}
    {% if month == "3" or month == "4" or month == "5" %}
    <ul class="post-list">
        <article>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
        </article>
    </ul>
    {% endif %}
    {% endfor %}
    <h2>Q0 - Decision time</h2>
    <p>The time between deciding to go into development and starting an apprenticeship. Lots of research and figuring out what sort of developer I would want to be when I grow up.
    </p>
    {% for post in site.posts %}
    {% capture month %}{{post.date | date: "%-m"}}{% endcapture %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}    
    {% if year == "2017" or month == "2" or month == "1" %}
    <ul class="post-list">
        <article>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
        </article>
    </ul>
    {% endif %}
    {% endfor %}
    </div>
</div>