<div class="posts">
    <h1 class="home-head">&#60; Posts &#62;</h1>
    <div class="indent">
    <h2>Q1 - This is fun!</h2>
    <p>Posts from the first three months of my apprenticeship. More of an entertainment I suppose than anything you can possibly learn from. I have the sneaking suspicion I will cringe hard once I look back on these in a few months.</p>
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
        {%- for post in site.posts -%}
        <article>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
        </article>
        {%- endfor -%}
    </ul>
    {%- endif -%}
    </div>
    <!-- <h2>Q2 - Now I have a clue</h2>
    <p>Nope, false alarm. Still clueless.</p>
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%} -->
</div>