<div id="buttons" class="btn-container">
  <button class="btn active btn-light" onclick="filterSelection('all')"> Show all</button>
  <button class="btn btn-light" onclick="filterSelection('css')"> CSS/SASS</button>
  <button class="btn btn-light" onclick="filterSelection('design')"> Design</button>
  <button class="btn btn-light" onclick="filterSelection('drupal')"> Drupal</button>
  <button class="btn btn-light" onclick="filterSelection('html')"> HTML</button>
  <button class="btn btn-light" onclick="filterSelection('js')"> JavaScript</button>
  <button class="btn btn-light" onclick="filterSelection('uxui')"> UX/UI</button>
</div>
<div class="flex-container projects">

  <article class="project-card html css js uxui design">
    <a href="https://codepen.io/krisztiiin/full/wrVWZJ/" target="_blank">
      <h2><i class="fab fa-twitch"></i> Twitch API</h2>
      <p>Working with the Twitch API to build an app showing user statuses along with stream info.</p>
      <!-- <p class="project-how-link">
        <a href="{{ site.baseurl }}{% link _posts/2017-11-03-fcc-twitch.md %}">
          <i class="fab fa-readme"></i> How was this built?</a>
        </p> -->
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">JavaScript \ JQuery \ JSON</h4>
          <h4 class="tag">UX/UI</h4>
          <h4 class="tag">Design</h4>
        </a>
  </div>
  </article>
  <article class="project-card html css js uxui design">
    <a href="https://krisztin.github.io/projects/fcc-weather/" target="_blank">
      <h2><i class="fas fa-sun"></i> Weather API</h2>
      <p>Using HTML5 Geolocation and a simple weather database to show the current, local weather.</p>
      <!-- <p class="project-how-link">
        <a href="{{ site.baseurl }}{% link _posts/2017-10-21-fcc-weather.md %}">
          <i class="fab fa-readme"></i> How was this built?</a>
        </p> -->
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">JavaScript \ JQuery \ JSON</h4>
          <h4 class="tag">UX/UI</h4>
          <h4 class="tag">Design</h4>
        </div>
      </a>
  </article>
  <article class="project-card html css drupal uxui design">
    <a href="http://dev-appcharity.pantheonsite.io/" target="_blank">
      <h2><i class="fab fa-drupal"></i> Mock-Charity Website</h2>
      <p>Drupal Bootcamp Project site. The brief was for a blog written by web professionals for charities.</p>
      <!-- <p class="project-how-link">
        <a href="{{ site.baseurl }}{% link _posts/2018-01-19-bootcamp2.md %}">
          <i class="fab fa-readme"></i> How was this built?</a>
        </p> -->
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">Drupal</h4>
          <h4 class="tag">UX/UI</h4>
          <h4 class="tag">Design</h4>
        </div>
      </a>
  </article>
  <article class="project-card js">
    <a href="https://krisztin.github.io/projects/js30/01drumkit/" target="_blank">
      <h2><i class="fas fa-volume-down"></i> Drumkit</h2>
      <p>Vanilla JavaScript drumkit for your inner Ringo Starr.</p>
      <!-- <p class="project-how-link">
        <a href="{{ site.baseurl }}{% link _posts/2018-05-09-drumkit.md %}">
          <i class="fab fa-readme"></i> How was this built?</a>
        </p> -->
        <div class="tags">
          <h4 class="tag">JavaScript</h4>
        </div>
      </a>
  </article>
  <article class="project-card js">
    <a href="https://krisztin.github.io/projects/js30/02clock/" target="_blank">
      <h2><i class="far fa-clock"></i> Clock</h2>
      <p>Vanilla JS clock for those times when you just want to stare at a clock.</p>
      <div class="tags">
        <h4 class="tag">JavaScript</h4>
      </div>
    </a>
  </article>
  <article class="project-card uxui design">
    <a href="https://invis.io/BWIQXA0H4QV" target="_blank">
      <h2><i class="far fa-object-group"></i> Mayhew rebrand</h2>
    
      <p>High-fidelity prototype designed based on site analytics, user research and stakeholder needs.</p>
      <div class="tags">
        <h4 class="tag">UX/UI</h4>
        <h4 class="tag">Design</h4>
      </div>
    </a>
  </article>
  </div>
 <footer class="">
  <a href="https://github.com/krisztin/projects" target="_blank" class="btn btn-light-text">
    <i class="fab fa-github"></i> More on Github
  </a>
</footer>


  <script>
    filterSelection("all")

    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("project-card");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }

    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
          element.className += " " + arr2[i];
        }
      }
    }

    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);
        }
      }
      element.className = arr1.join(" ");
    }


    // Add active class to the current button (highlight it)
    var buttons = document.getElementById("buttons");
    var btns = buttons.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  </script>