<div class="pad-tb-4 wrapper">
    <h2 class="text-jumbo">&#60; Projects &#62;</h2>
  <div id="projectButtons" class="btn-container">
    <button class="btn active btn-light" onclick="filterProjects('all')"> Show all</button>
    <button class="btn btn-light" onclick="filterProjects('html')"> HTML5</button>
    <button class="btn btn-light" onclick="filterProjects('css')"> CSS3/Sass</button>
    <button class="btn btn-light" onclick="filterProjects('js')"> JavaScript</button>
    <button class="btn btn-light" onclick="filterProjects('php')"> PHP</button>
    <button class="btn btn-light" onclick="filterProjects('wp')"> WordPress</button>
    <button class="btn btn-light" onclick="filterProjects('drupal')"> Drupal</button>
    <button class="btn btn-light" onclick="filterProjects('uxui')"> UX/UI</button>
  </div>
  <div class="flex-container projects">
    <article class="project-card" data-tech="html css js uxui">
      <a href="https://codepen.io/krisztiiin/full/wrVWZJ/" target="_blank">
        <h2>
          <i class="fab fa-twitch"></i> Twitch API</h2>
        <p>Working with the Twitch API to build an app showing user statuses along with stream info.</p>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">JavaScript \ JQuery</h4>
          <h4 class="tag">UX/UI</h4>
      </a>
      </div>
    </article>
    <article class="project-card" data-tech="html css js uxui">
      <a href="https://krisztin.github.io/projects/fcc-weather/" target="_blank">
        <h2>
          <i class="fas fa-snowflake"></i> Weather API</h2>
        <p>Using HTML5 Geolocation and a weather API to show the current, local weather.</p>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">JavaScript \ JQuery</h4>
          <h4 class="tag">UX/UI</h4>
        </div>
      </a>
    </article>
    <article class="project-card" data-tech="css js html php wp uxui">
      <a href="https://github.com/krisztin/wp-shelter-theme" target="_blank">
        <h2>
          <i class="fab fa-wordpress-simple"></i> WordPress Cat Shelter theme</h2>

        <p>Practicing WordPress theme development by building a theme. Still very much a work in progress.</p>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">Sass</h4>
          <h4 class="tag">PHP</h4>
          <h4 class="tag">JavaScript \ JQuery</h4>
          <h4 class="tag">WordPress</h4>
          <h4 class="tag">UX/UI</h4>
        </div>
      </a>
    </article>
    <article class="project-card" data-tech="uxui css html js">
      <a href="https://codepen.io/krisztiiin/full/boByVw/" target="_blank">
        <h2>
          <i class="far fa-comment-dots"></i> Random Quote Generator</h2>

        <p>Working with a quote API to display a random, design-themed quote with a 'new quote' and 'tweet' button.</p>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">JavaScript \ JQuery</h4>
          <h4 class="tag">UX/UI</h4>
        </div>
      </a>
    </article>
    <article class="project-card" data-tech="html css ux/ui js">
      <a href="https://codepen.io/krisztiiin/pen/jzvNJK" target="_blank">
        <h2>
          <i class="fab fa-drupal"></i> Euromillions Guessing Game</h2>
        <p>A little anti-gambling random number guessing game.</p>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">UX/UI</h4>
          <h4 class="tag">JavaScript \ JQuery</h4>
        </div>
      </a>
    </article>
    <article class="project-card" data-tech="uxui">
      <a href="https://projects.invisionapp.com/share/BWIQXA0H4QV#/screens" target="_blank">
        <h2>
          <i class="far fa-object-group"></i> Mayhew rebrand</h2>

        <p>High-fidelity prototypeed based on site analytics, user research and stakeholder needs.</p>
        <div class="tags">
          <h4 class="tag">UX/UI</h4>
        </div>
      </a>
    </article>
    <article class="project-card" data-tech="uxui css html js">
      <a href="https://codepen.io/krisztiiin/full/XeQpjG/" target="_blank">
        <h2>
          <i class="fab fa-wikipedia-w"></i> WikiViewer</h2>

        <p>Querying the Wikipedia API and returning and rendering the first 5 closest results.</p>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">JavaScript \ JQuery</h4>
          <h4 class="tag">UX/UI</h4>
        </div>
      </a>
    </article>
    <article class="project-card" data-tech="uxui css html js">
      <a href="https://codepen.io/krisztiiin/full/bYdrQe/" target="_blank">
        <h2>
          <i class="far fa-calendar-alt"></i> How long?</h2>

        <p>Ever lost track of time and forgot which anniversary is coming up? Built with countdown.js, this is my solution for
          the husband and I.</p>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">JavaScript \ JQuery</h4>
          <h4 class="tag">UX/UI</h4>
        </div>
      </a>
    </article>
    <article class="project-card" data-tech="html css php drupal">
      <a href="https://wellcome.ac.uk/" target="_blank">
        <h2>
          <i class="fab fa-drupal"></i> Wellcome Trust</h2>
        <p>As an apprentice Software Dev I've worked on the front and back-end of Wellcome's website.</p>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">Sass</h4>
          <h4 class="tag">Drupal</h4>
          <h4 class="tag">PHP</h4>
        </div>
      </a>
    </article>
    <article class="project-card" data-tech="html css drupal uxui">
      <a href="http://dev-appcharity.pantheonsite.io/" target="_blank">
        <h2>
          <i class="fab fa-drupal"></i> Mock-Charity Website</h2>
        <p>Drupal Bootcamp Project site. The brief was for a blog written by web professionals for charities.</p>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">Drupal</h4>
          <h4 class="tag">UX/UI</h4>
        </div>
      </a>
    </article>
  </div>
  <footer class="">
    <a href="https://github.com/krisztin/projects" target="_blank" class="btn btn-light-text">
      <i class="fab fa-github"></i> More on Github
    </a>
  </footer>
</div>


<script>
const projectCards = Array.from(document.querySelectorAll('.project-card'));
const projectButtonsContainer = document.getElementById('projectButtons');
const projectButtons = projectButtonsContainer.querySelectorAll('.btn');

filterProjects('all');

function filterProjects(language) {
  if (language === "all") {
    projectCards.forEach(card => card.classList.add('show'));
  } else {
    projectCards.forEach(card => card.classList.remove('show'));
    let matches = projectCards
                    .filter(card => card.dataset.tech.includes(language));
    matches.forEach(match => match.classList.add('show'));
  }
}

projectButtons.forEach(button => button.addEventListener('click', function() {
  projectButtons.forEach(button => button.classList.remove('active'));
  this.classList.add('active');
}));
</script>
