<h1 class="home-head">PROJECTS</h1>
<div class="flex-container projects">
  <div class="project-card">
    <h2>Twitch API</h2>
      <p>Working with the Twitch API to build an app showing user statuses along with stream info.</p>
      <h4 class="tag">HTML</h4>
      <h4 class="tag">CSS</h4>
      <h4 class="tag">JavaScript \ JQuery \ JSON</h4>
  </div>
  <div class="project-card">
      <h2>Weather API</h2>
      <div class="description">
        <p>Using HTML5 Geolocation and a simple weather database to show the current, local weather.</p>
      </div>
      <div class="tags">
        <h4 class="tag">HTML</h4>
        <h4 class="tag">CSS</h4>
        <h4 class="tag">JavaScript \ JQuery \ JSON</h4>
      </div>
    </div>
    <div class="project-card">
        <h2>Mock-Charity Website</h2>
        <div class="description">
          <p>Drupal Bootcamp Project site. The brief was for a blog written by web professionals for charities.</p>
        </div>
        <div class="tags">
          <h4 class="tag">HTML</h4>
          <h4 class="tag">CSS</h4>
          <h4 class="tag">Drupal</h4>
        </div>
      </div>
      <div class="project-card">
          <h2>Other</h2>
          <div class="description">
            <p>Bla</p>
          </div>
          <div class="tags">
            <h4 class="tag">HTML</h4>
            <h4 class="tag">CSS</h4>
            <h4 class="tag">JavaScript</h4>
          </div>
        </div>
        <div class="project-card">
            <h2>Other2</h2>
            <div class="description">
              <p>Bla</p>
            </div>
            <div class="tags">
              <h4 class="tag">HTML</h4>
              <h4 class="tag">CSS</h4>
              <h4 class="tag">JavaScript</h4>
            </div>
          </div>
</div>