@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

// Typography
$base-font-family: 'Roboto',
sans-serif !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.7 !default;

// Colours
$colour-primary: #523a7c !default;
$colour-primary--dark: #3A2957 !default;
$colour-primary--light: #8961ce !default;
$colour-secondary: #ffd60c !default;
$colour-white: #fdfdfd !default;

$text-color: #212121 !default;
$text-color-light: #fff !default;
$text-link-color: $colour-primary;

$colour-grey: #949494 !default;
$colour-grey--light: lighten($colour-grey, 30%) !default;
$colour-grey--dark: darken($colour-grey, 25%) !default;

// Alignment & Spacings
$spacing-unit: 30px !default;
$content-width: 1200px !default;

// Media query breakpoints
$mobile: 400px !default;
$on-laptop: 800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Element mixins and extends
$border-radius: 5px !default;

%clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@mixin skew($degree: -7deg) {
  -webkit-transform: skewY($degree);
  transform: skewY($degree);
  -webkit-transform-origin: 0;
  transform-origin: 0;
}

@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin transition {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

// Import partials.
@import 'minima/base', 'minima/layout', 'minima/home';