/**
 * Basic styling
 */

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $colour-white;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Typography
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight*2;
}

.text-jumbo {
  font-size: $base-font-size * 4;
  @include media-query($mobile) {
    font-size: $base-font-size *3;
  }
}

// tag fontawesome icon on /tags/ page
h4 i {
  font-size: $small-font-size;
}

/**
 * Buttons
 */

button.btn.btn-light {
  margin: $spacing-unit/4;
  margin-right: $spacing-unit/4;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
}

.btn {
  display: inline-block;
  border-radius: $border-radius;
  font-size: $base-font-size*1.2;
  letter-spacing: .1em;
  padding: $base-font-size;
  margin: $base-font-size 0;
  margin-right: $base-font-size;
  min-width: $base-font-size*10;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 630px) {
  .btn {
    min-width: $base-font-size;
  }
}

a.btn-light {
  background: $colour-white;
  color: $colour-primary;
  i {
    color: $colour-primary;
  }
}

.btn-light.active {
  background: $colour-pop;
}

.btn-light:hover,
.btn-light:active {
  color: $text-color-light;
  i {
    color: $text-color-light;
  }
}

.btn-light-secondary {
  border: $colour-white 2px solid;
  color: $text-color-light;
  padding: 14px;
}

.btn-light:active,
.btn-light-secondary:active,
.btn-light-text:active {
  background: $colour-secondary;
}

a.btn-light-text {
  color: $text-color-light;
  padding: 14px;
}

a:visited.btn-light-text {
  color: $text-color-light;
}

.btn-light:hover,
.btn-light-secondary:hover,
.btn-light-text:hover,
.btn-dark-primary:hover,
.btn-dark-secondary:hover {
  background: $colour-primary-dark;
}

/* The dark side...of buttons*/

.btn-dark-primary {
  background: $colour-primary;
}

a.btn-dark-primary {
  color: #fff;
  &:visited {
    color: #fff;
  }
}

.btn-dark-text:hover {
  color: $colour-primary-dark;
}

.btn-dark-secondary {
  border: $colour-primary 2px solid;
  color: $colour-primary;
  padding: 14px;
}

.btn-dark-primary:active,
.btn-dark-secondary:active,
.btn-dark-text:active {
  background: $colour-secondary;
}

.btn-dark-text {
  color: $colour-primary;
  padding: 14px;
}

.btn-dark-secondary:hover {
  color: $text-color-light;
}

/**
 * Wrapper
 */

.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
  @include media-query($mobile) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.wrapper-skinny {
  max-width: $content-width/2;
}

/**
 * Links
 */

a {
  color: $colour-primary;
  text-decoration: none;
  font-weight: 600;
  &:visited {
    color: $colour-primary;
  }
  &:hover {
    color: $colour-primary-dark;
    text-decoration: none;
}
  }

/**
 * Images
 */

img {
  display: block;
  margin: 15px auto 0 auto;
  max-width: 100%;
}

figcaption {
  font-size: $small-font-size;
  font-style: italic;
  color: $colour-grey-dark;
  text-align: center;
}
