/* 
 * Mini Browser
*/

.browser {
  margin-left: 3rem;
  max-width: calc(100% - 3rem);
  width: 90%;
  height: 300px;
  border-radius: 5px;
  /* fix jagged edges */
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  overflow: hidden;
  -webkit-box-shadow: 27.1px 62.5px 125px -25px rgba(50, 50, 93, 0.5),
    16.2px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  box-shadow: 27.1px 62.5px 125px -25px rgba(50, 50, 93, 0.5),
    16.2px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  @include transition;

  @media screen and (max-width: 590px) {
    margin: 1rem auto;
    max-width: calc(100% - 1rem);
  }

  .content {
    width: 100%;
    /* req to see whole scrollbar */
    height: 90%;
    /* TODO add 'scroll me' CTA on mobile
    because no scrollbar, that's why*/
    overflow-y: scroll;
  }

  img {
    width: 100%;
    opacity: 0.7;
  }

}

.browser-header {
  background: $colour-primary;
  height: 10%;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px 0px $colour-grey;
  box-shadow: 0px 1px 3px 0px $colour-grey;

  .address {
    font-size: $small-font-size * 0.8;
    color: $colour-grey;
    width: 80%;
    height: 12px;
    border-radius: 3px;
    padding: 2px;
    position: absolute;
    top: 9px;
    left: 35px;
    background: $colour-white;
    border: none;
  }

  .close {
    height: 14px;
    width: 14px;
    border-radius: 50px;
    background: $colour-primary--light;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      background: $colour-primary--dark;
    }

    &:active {
      background: $colour-secondary;
    }

    &:before {
      content: 'x';
      position: absolute;
      top: -1px;
      left: 3px;
      font-weight: bold;
      color: $colour-secondary;
    }
  }
}



.browser-tray {
  width: 450px;
  height: 50px;
  position: absolute;
  top: 250px;
  left: 25px;
}

.browser-icon {
  border: none;
  border-radius: 50px;
  background: $colour-primary;
  height: 50px;
  width: 50px;
  display: none;

  i {
    color: $colour-primary--light;
    font-size: 2.5em;
    position: absolute;
    top: 8px;
    left: 9px;
  }

  &:hover {
    background: $colour-primary--dark;
  }
}

.browser-icon:hover .tooltip-top {
  visibility: visible;
}

.tooltip-top {
  visibility: hidden;
  color: #fff;
  background-color: $colour-primary--dark;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: -35px;
  left: -23px;

  &:after {
    content: '';
    position: absolute;
    bottom: -40%;
    left: 40%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: $colour-primary;
    border-bottom: 0;
  }
}

.closed {
  -webkit-transform: scale(0) rotate(-1deg);
  transform: scale(0) rotate(-1deg);
  -webkit-transform-origin: 10% 75%;
  transform-origin: 10% 75%;
}