/**
 * Global
 */

.home-head {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 2rem;
}

/**
 * Techs
 */

.tech-list>li {
    list-style-type: none;
    line-height: $base-line-height * 1.4;
    display: inline;
    padding: 5px;
    background-color: $grey-color-dark;
    color: $text-color-light;
    font-weight: 800;
    // &:hover {
    //     background-color: $brand-color;
    // }
}

/**
   * Product
   */

.home-link {
    padding: 10px;
    line-height: $base-line-height*2;
    @include border;
    &:hover {
        background-color: $brand-color;
        color: $text-color-light;
    }
}

/**
   * Projects
   */

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    max-width: 100%;
}

.project-card {
    border: 4px $brand-color solid;
    margin: 10px 5px;
    padding: 5px;
    -ms-flex-preferred-size: 200px;
    min-width: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    &:hover {
        background-color: $brand-color;
        color: $text-color-light;
        >a {
            color: $text-color;
        }
    }
    >a:hover {
        text-decoration: none;
    }
}

.tag {
    padding: 5px;
    line-height: $base-line-height * 1.4;
    font-weight: bold;
    white-space: nowrap;
    background-color: $grey-color-dark;
    color: $text-color-light;
    display: inline;
}

/* posts */

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    list-style: none;
    @extend %clearfix;
    margin-left: 0px;
    article {
        max-width: 50%;
        float: left;
        margin: 0 5px 5px 0;
        background-color: $grey-color-light;
        padding: 10px;
    }
}

.post-link {
    font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
    .post-list {
        margin-left: 0px;
        article {
            max-width: 100%;
            display: block;
            margin: 0 0 5px 0;
            float: none;
        }
    }
}

/* tag cloud */

.tag-link {
    padding: 10px;
    line-height: $base-line-height*2.5;
    @include border;
    &:hover {
        background-color: $brand-color;
        color: $text-color-light;
    }
}