---
layout: default
---
<div class="header-wrapper">
  <h1 class="header-jumbo highligh">A Developing Developer</h1>
</div>
<div class="home">
  <div class="product">
    <h2 class="home-head">What am I <span class="highlight"> currently</span> up to?</h2>
    <h3>Wordpress Theme Development</h3>
    <li><strong>Started on:</strong> 4th July</li>
    <li><strong>Progress:</strong> <a href="https://github.com/krisztin/wp-shelter-theme">notes and code so far on Github</a></li>
  </div>
  <h2 class="home-head">The story <span class="highlight">so far</span></h2>
  {% include home-projects.html -%}

</div>