---
layout: default
---
<article class="full-bgcol-secondary">
  {% include home-tech.html -%}
</article>

<article class="full-bgcol-primary">
  {% include home-projects.html -%}
</article>

<article class="mar-tb-4">
  <div class="line"></div>
  <div class="pad-tb-2 aligncentre wrapper">
    <p> I've given up a more than a decade long career that included photographing kittens and puppies to become a Developer. <br> If that's not dedication then I don't know what is.</p>
    <p>If you are interested in working with me, have questions or just want me to send you a picture of a cute kitten get in touch.</p>
    <h3 class="mar-tb-2">
      <a href="mailto:me@kriszt.in">me@kriszt.in</a>
    </h3>
    <h3>or</h3>
    <a href="/contact" class="btn btn-dark-text">Contact</a>
  </div>
  <div class="line"></div>
</article>